/* default styles start */
:root {
  --primary-title-color: #3a3a3a;
  --primary-description-color: #787885;
  --primary-btn-color: #e02c6d;
}
html,
body {
  padding: 0;
  margin: 0;
}
* {
  font-family: Poppins;
}
header,
main {
  padding: 5rem;
}
header {
  padding-bottom: 0;
}
button,
a {
  cursor: pointer;
}
/* default styles end*/

/* shared styles start*/
.btn-primary {
  background: var(--primary-btn-color);
  border: 0;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 0.5rem;
  font-weight: 700;
}
.btn-secondary {
  color: var(--primary-btn-color);
  border: 0;
  font-weight: 700;
  padding: 0.5rem 1rem;
  background: transparent;
}
/* shared styles end*/

/* header start */
/*    nav start */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 1.25rem;
  padding-left: 0;
  list-style: none;
}
nav a {
  text-decoration: none;
  font-weight: 600;
}
.nav-title,
nav ul {
  margin: 0;
}
.nav-title,
nav a {
  color: var(--primary-title-color);
}
.nav-title {
  font-weight: 700;
}
/*    nav end */
/* header end */

/* main start */
/*    banner start */
.banner {
  display: flex;
  gap: 7rem;
  align-items: center;
  margin-bottom: 4rem;
}
.banner-img-container {
  background: url("../images/Circle design.svg") no-repeat;
  background-size: contain;
}
.banner-img-container img {
  width: 100%;
}
/*    banner end */

/*    sponsors start */
.sponsors {
  padding: 1.5rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  border-image: linear-gradient(
      90deg,
      #00000000 0%,
      #c0ccda05 10%,
      #c0ccda 50%,
      #c0ccda05 90%,
      #00000000 100%
    )
    30;
  border-width: 1px;
  border-style: solid;
  gap: 10px;
  flex-wrap: wrap;
}
/*    sponsors end */

/*    collection start */
.collection {
  margin-top: 4rem;
}
.collection-title {
  color: var(--primary-title-color);
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 3rem;
}
.collection-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3rem;
}
.collection .card {
  padding: 1rem;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.card-title {
  color: #18191f;
  font-size: 1.8rem;
  font-weight: 500;
}
.card img {
  width: 100%;
}
.card .price {
  color: rgba(0, 0, 0, 0.87);
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 400;
}
.card .description {
  width: 60%;
}
.see-more {
  margin-top: 2rem;
  margin-left: auto;
  display: block;
}
/*    collection end */
/* main end */

/* footer start */
footer {
  color: white;
  background: #0a0826;
  text-align: center;
  padding: 3.125rem;
}
.footer-title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: 700;
}
.footer-description {
  color: #d9dbe1;
  font-family: Manrope;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.5rem;
}
/* footer end */

/* responsive design  start*/
/*    mobile start */
@media screen and (max-width: 576px) {
  /* res default styles start */
  header,
  main {
    padding: 1rem;
  }
  header {
    margin-top: 2rem;
  }
  /* res default styles end */

  /* res nav start */
  nav,
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav {
    row-gap: 2rem;
  }
  /* res nav end */

  /* res banner start*/
  .banner {
    padding-top: 3rem;
    flex-direction: column-reverse;
    gap: 1rem;
  }
  /* res banner end*/

  /* res sponsors start */
  .sponsors {
    border: none;
  }
  /* res sponsors end */

  /* res collection start */
  .collection-card-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    gap: 1rem;
  }
  /* res collection end */
}
/*    mobile end */
/* responsive design  end*/
